*{
  box-sizing: border-box;
  margin: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #8b6730;
 
}
.hr{width: 70vw;}
.check{
  
  margin-right: 10px;
  outline: none;
  cursor: pointer
}
input[type='checkbox'] {
  accent-color:green;
}
.hr :hover{
background-color: green;
}
.container {
  
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.secadd{
display: inline-block;
  place-items: center;
  justify-content: center;
  align-items: center;

}
.espacar{
  
margin: 10px;
}
.add{
  background-color: white;
  border-radius: 4px;
  width: 15rem;
  
  text-align: center;
  color: #242424;
}
.butonadd{
  margin: 3px 0px 20px;
  background-color: rgb(139, 129, 129);
  border-radius: 4px;
  display: inline-block;
  color: #242424;
  margin: 0px 0px 15px 3px;
  border:none;
  cursor: pointer;
}
.secdelete{
 margin-bottom: 5px;
}
.secdelete  button{
  margin-left: 6px;
  border-radius: 2px;
  font-size: 12px;
  background-color: rgb(139, 129, 129);
  color: #242424;
  border:none;
  cursor: pointer;
}

span{ font-size: 18px;}


